.header-nav-container {
    transform: translateZ(0);
    border: none;
    flex-wrap: nowrap;
}

.header-nav {
    display: flex;
    position: absolute;
    background-color: var(--header-background-color);
    height:var(--header-height);
    width: 100%;
    align-items: center;
}

/* HeaderNavLogo styles */
.header-nav-logo {
    position: relative;
    margin-left: var(--header-first-element);
    white-space: nowrap;
}

.typography {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 4px 3px;
    color: white;
    background-color: transparent;
}

/* HeaderNavSearch styles */

.header-nav-search {
    position: relative;
    margin-left: var(--header-neighbor-element);
    width: 200px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.hv-input-field {
    width: 40vw;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    background-color: var(--header--input-color);
    color: white;
}

.hv-input-field:focus {
    outline: none;
}

.icon {
    position: absolute;
    color: gray;
    left: 10px;
}

/* HeaderNavNotification styles */

.hv-notification-container {
    position: relative;
    display: flex;
    width: 30px;
    margin-left: var(--header-neighbor-element);
    height: var(--header-height);
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.hv-notification-button {
    position: relative;
    display: inline-flex;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    border: none;
}

.hv-notification-icon {
    scale: 1.5;
    color: white;
    transition: transform 0.5s ease, color 0.5s ease;
}

.hv-notification-button:hover .hv-notification-icon:hover {
    transform: scale(1.2);
    color: #e34040;
}

.hv-notification-menu-container {
    position: absolute;
    display: flex;
    top: var(--header-height);
    background-color: white;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* HeaderNavProfile styles */