#page-layout {
    top: var(--header-nav-height);
    display: flex;
    height: 100vh;
    flex-direction: row;
}

#side-bar-layout {
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
    height: 100%;
}

.side-bar {
    position: relative;
    height: 85%;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.side-bar-header {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-content: flex-end;
    height: 70px;
}

#bar-name {
    position: absolute;
    width: 100%;
    height: 10%;
    padding-left: 30px;
}

.side-bar-header-text-style {
    position: relative;
    top: 10px;
    right: 90px;
    font-variation-settings: "wght" 100, "ital" 1;
    font-size: 15rem;
    color: lightgray;
    font-family: "Meta", sans-serif;
    text-shadow: none;
    cursor: default;
    scale: 0.2;
    transition: all 0.5s;
}

.side-bar:hover .side-bar-header-text-style {
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    color: transparent;
    text-shadow:
            10px 10px 0 #a8e6cf,
            15px 15px 0 #dcedc1,
            20px 20px 0 #fffdaf,
            25px 25px 0 #fffc8b,
            45px 45px 10px #b2ebf2;
}


.side-bar-buttons-container {
    display: flex;
    padding-top: 15px;
    height: inherit;
    flex-direction: column;
}

.side-bar-button {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 40px;
}

.side-bar-button:hover {
    background-color: var(--element-select-color);
    border-radius: 5px;
}

.side-bar-button-text {
    --s: 0.1em;
    --c: #2c4bff;

    color: #0000;
    padding-bottom: var(--s);
    background:
            linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
            linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}

.side-bar-button:hover .side-bar-button-text {
    --_p: 100%;
}

#poster-layout {
    position: relative;
    width: 800px;
    height: 150px;
}

.poster-body {
    position: relative;
    display: flex;
    margin: 20px 50px;
    width: 600px;
    height: 150px;
    border-radius: 15px;
    background-color: white;
    flex-direction: column;
}

.poster-buttons-container {
    height: 60px;
    width: inherit;
    border-bottom: 1px solid lightgray;
    align-content: center;
    margin-bottom: 10px;
}

.poster-button {
    background-color: transparent;
    border: none;
}

.poster-button:hover {
    background-color: var(--element-select-color);
    height: inherit;
    border-radius: 15px;
}


.logout-button {
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: #f44336;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 9999;
}

.logout-button:hover {
    background-color: #d32f2f;
}
