# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore environment files
.env

# Ignore all key files
*.key

# Ignore all files in the keys directory
keys/