POSTGRES_DATABASE_USER=your_postgres_username
POSTGRES_DATABASE_PASSWORD=your_postgres_password
POSTGRES_DATABASE_NAME=your_postgres_db_name
POSTGRES_DATABASE_VERSION=your_postgres_version
REDIS_DATABASE_VERSION=your_redis_version